html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #212529;
  text-align: left;
  background-color: #f8f9fa;
}
h1 {
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
}
#cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 5%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul > li {
  text-align: center;
  font-size: 1rem;
}

ul > li > strong {
  font-size: 1.5rem;
}

form {
  width: 30vw;
  min-width: 500px;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
  margin: 0 auto;
}

#submit {
  background: #fc4c02 !important;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 8px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}

#submit3 {
  background: #635bff !important; /* Stripe's purple color */
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #ffffff;
  border-radius: 4px; /* Slightly rounded corners */
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 500; /* Slightly lighter font-weight */
  cursor: pointer;
  display: block;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1); /* Softer shadow */
  width: 100%;
  outline: none; /* Remove default focus outline */
  text-align: center; /* Ensure text is centered */
}

#submit3:hover,
#submit:focus {
  background: #5148d4; /* Slightly darker purple on hover/focus */
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15); /* Slightly larger shadow on hover/focus */
}
